{% load static %}
<html>
	<head>
	<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="static/frontend/js/vendors.js"></script>
	<script type="text/javascript" src="static/frontend/js/scripts.js"></script>
	<link rel="stylesheet" href="static/frontend/css/vendors.css">
	<link rel="stylesheet" href="static/frontend/css/styles.css">
	<base href="/">
	</head>
	<body ng-app="TravelApp" ng-controller="globalCtrl">
		<index-page></index-page>
	</body>
</html>